*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s ease;
}


.body{
    font-family: 'Electrolize',sans-serif;
    height: 100%;
}

.header{
    position: sticky;
    top: 0;
    z-index: 1000;
}

.wrapper{
    position: absolute;
    top: 25%;
    left: 35%;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px black;
    display: flex;
    justify-content: center;
    align-items: center;
    /*overflow: hidden;*/
    transition: height .2 ease;
}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.error{
    background: black;
    color: white;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}

.form-box h2{
    font-size: 2em;
    color: black;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: black;
    font-weight: 500;
    pointer-events: none;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: black;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box input:focus~label,.input-box input:valid~label{
    top: -5px;
}

.input-box .icon{
    position: absolute;
    right: 20px;
    font-size: 1.2em;
    color: black;
    line-height: 57px;
}

.btn{
    width: 100%;
    height: 50px;
    margin-top: 30px;
    background: black;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
}

.header .navbar{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    height: 50px;
}

.header .navbar a{
    
    margin: 0 10px;
    font-size: 16px;
    color: white;
}

.header .navbar .active, .header .navbar a:hover{
    cursor: pointer;
    font-weight: bold;
}

.header .navbar .profile-container{
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.header .navbar .profile-container .profile-picture{
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
}

.header .navbar .profile-text-container{
    color: white;
    display: flex;
    align-items: center;
    column-gap: 5px;
    line-height: 1;
}

.home .content-wrapper{
    background: url("images/background1.jpg");
    padding: 50px;
    height: calc(100vh - 150px);
    background-size: 100% 100%;
}

.home .content-wrapper .featured-title{
    width: 700px;
}

.home .content-wrapper .featured-desc{
    width: 400px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 30px 0;
    color: black;
    text-transform: none;
    border-radius: 10px;
    border-style: double;
}

.home .content-wrapper .photo-list-wrapper .photo-list{
    list-style: none;
    padding: 0;
    height: 300px;
    display: flex;
    align-items: center;
    column-gap: 30px;
    transform: translateX(0);
    transition: 1s all ease-in-out;
}

.home .content-wrapper .photo-list-wrapper{
    overflow: hidden;
    position: relative;
}

.home .content-wrapper .photo-list-wrapper .photo-list .photo-item{
    position: relative;
}

.home .content-wrapper .photo-list-wrapper .photo-list .photo-item:hover .photo-item-title{
    opacity: 1;
}

.home .content-wrapper .photo-list-title{
    text-transform: uppercase;
    font-size: 30px;
    border-bottom: 2px solid black;
}

.home .content-wrapper .photo-list-wrapper .photo-list .photo-item:hover .photo-item-img{
    transform: scale(1.2);
    margin: 0 30px;
}

.home .content-wrapper .photo-list-wrapper .photo-list .photo-item .photo-item-img{
    width: 270px;
    height: 200px;
    object-fit: cover;
    transition: 1sn all ease-in-out;
}

.home .content-wrapper .photo-list-wrapper .photo-list .photo-item .photo-item-info .photo-item-title{
    padding: 0 10px;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    left: 50px;
    opacity: 0;
    transition: 1sn all ease-in-out;
}

.cv .content-wrapper{
    background: url("images/officedesk.jpg");
    height: calc(100vh - 150px);
    background-size: 100% 100%;
    padding: 50px;
}

.cv .content-wrapper .title .cv-img{
    width: 250px;
    height: 200px;
}

.cv .content-wrapper .title{
    display: flex;
    align-items: center;
}

.cv .content-wrapper .title .header{
    justify-content: space-around;
    text-transform: uppercase;
    font-size: 40px;
}

.cv .content-wrapper .box-container{
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.cv .content-wrapper .box-container .box{
    height: 300px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.5);
    border-style:double;
    padding: 20px ;
    margin: 50px 0;
    color: rgb(28, 13, 31);
    border-radius: 20px;
}

.cv .content-wrapper .box-container .box h1{
    border-bottom: 2px solid rgb(28, 13, 31);
}

.cv .content-wrapper .box-container .box p{
    padding: 0px ;
    margin: 10px 0;
    font-size: large;
}

.cv .content-wrapper .box-container .list{
    list-style: none;
}

.mycity .content-wrapper .photo-list-wrapper .photo-list{
    list-style: none;
    padding: 0;
    height: 300px;
    display: flex;
    align-items: center;
    column-gap: 30px;
    transform: translateX(0);
    transition: 1s all ease-in-out;
}

.mycity .content-wrapper .photo-list-wrapper{
    overflow: hidden;
    position: relative;
}

.mycity .content-wrapper .photo-list-wrapper .photo-list .photo-item{
    position: relative;
}

.mycity .content-wrapper .photo-list-wrapper .photo-list .photo-item:hover .photo-item-img{
    transform: scale(1.2);
    margin: 0 30px;
}

.mycity .content-wrapper .photo-list-wrapper .photo-list .photo-item .photo-item-img{
    width: 270px;
    height: 200px;
    object-fit: cover;
    transition: 1sn all ease-in-out;
}

.mycity .content-wrapper{
    background: url("images/background3.jpg");
    height: calc(100vh - 150px);
    background-size: 100% 100%;
    padding: 50px;
}

.mycity-photo .content-wrapper{
    background: url("images/background4.jpg");
    height: calc(100vh - 150px);
    background-size: 100% 100%;
    padding: 50px;
}

.mycity .content-wrapper .title{
    width: 550px;
    display: flex;
    align-content: center;
    margin: 10px;
    padding: 10px;
    color:rgb(28, 13, 31);
    font-size: 30px;
}

.mycity-photo .content-wrapper .title{
    width: 550px;
    display: flex;
    align-content: center;
    margin: 10px;
    padding: 10px;
    color:rgb(28, 13, 31);
    font-size: 40px;
}


.mycity .content-wrapper .info{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.mycity-photo .content-wrapper .galery{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.mycity .content-wrapper .info .box{
    width: 800px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 0;
    color: black;
    border-radius: 10px;
    border-style: double;

}

.mycity-photo .content-wrapper .box{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    margin: 10px 0;
    color: black;
    border-radius: 10px;
    border-style: double;
}

.mycity-photo .content-wrapper .box h1{
    border-bottom: 2px solid rgb(28, 13, 31);
    padding: 0;
}

.mycity-photo .content-wrapper .galery .box{
    width: 300px;
    height: 350px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    margin:  0;
    color: black;
    border-radius: 10px;
    border-style: double;

}

.mycity-photo .content-wrapper .box p{
    padding: 5px;
    margin: 5px;
    text-transform: none;
}

.mycity .content-wrapper .info h1{
    border-bottom: 2px solid rgb(28, 13, 31);
    padding: 5px;
}

.mycity .content-wrapper .info p{
    padding: 5px;
    margin: 5px;
    text-transform: none;
}

.mycity-photo .content-wrapper .galery h1{
    border-bottom: 2px solid rgb(28, 13, 31);
    padding: 5px;
}

.mycity-photo .content-wrapper .galery p{
    padding: 5px;
    margin: 5px;
    text-transform: none;
}

.mycity-photo .content-wrapper .galery .box img{
    width: 230px;
    height: 100px;
}

.legacy{
    background: url("images/wall2.jpg");
    height: calc(300vh - 150px);
    background-size: 100% 100%;
}

.legacy .content-wrapper{
    padding: 50px;
}

.legacy .content-wrapper h1{
    width: 550px;
    display: flex;
    margin: 10px;
    padding: 10px;
    color: white;
    font-size: 30px;
}

.legacy .content-wrapper .main{
    display: flex;
    column-gap: 10px;
}

.legacy .content-wrapper .main .box{
    width: 600px;
    height: 400px;
    background-color: rgba(19, 18, 18, 0.7);
    padding: 0px;
    margin: 0;
    color: white;
    border-radius: 10px;
    border-style: double;
    overflow:auto;
}

.legacy .content-wrapper .main h1{
    border-bottom: 2px solid white;
    padding: 5px;
}

.legacy .content-wrapper .main img{
    width: 700px;
    height: 500px;
    border-radius: 10px;
    border-style: groove;
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.605);
}

.legacy .content-wrapper p{
    padding: 5px;
    margin: 5px;
    text-transform: none;
}

.owl-carousel .item0{
    background: url("images/Coffee\ Background.jpg");
    height: calc(100vh - 150px);
    background-size: 100% 100%;
}

.owl-carousel .item1{
    background: url("images/coffeeback.jpg");
    height: calc(100vh - 150px);
    background-size: 100% 100%;
}
.owl-carousel .item2{
    background: url("images/latte2back.jpg");
    height: calc(100vh - 150px);
    background-size: 100% 100%;
}
.owl-carousel .item3{
    background: url("images/americanoback.jpg");
    height: calc(100vh - 150px);
    background-size: 100% 100%;
}
.owl-carousel .item4{
    background: url("images/filtercoffeeback.jpg");
    height: calc(100vh - 150px);
    background-size: 100% 100%;
}
.owl-carousel .item5{
    background: url("images/Turkish\ coffee.jpg");
    height: calc(100vh - 150px);
    background-size: 100% 100%;
}

.owl-carousel .item6{
    background: url("images/cinema2.jpg");
    height: calc(100vh - 150px);
    background-size: 100% 100%;
}

.owl-carousel .item7{
    background: url("images/inception.jpg");
    height: calc(100vh - 150px);
    background-size: 100% 100%;
}

.owl-carousel .item8{
    background: url("images/shutterisland.jpg");
    height: calc(100vh - 150px);
    background-size: 100% 100%;
}

.owl-carousel .item9{
    background: url("images/baticephesi.jpg");
    height: calc(100vh - 150px);
    background-size: 100% 100%;
}

.owl-carousel .item10{
    background: url("images/avengers.jpg");
    height: calc(100vh - 150px);
    background-size: 100% 100%;
}

.owl-carousel .item11{
    background: url("images/powerofthedog.jpg");
    height: calc(100vh - 150px);
    background-size: 100% 100%;
}

.owl-carousel .item12{
    background: url("images/bookback2.jpg");
    height: calc(100vh - 150px);
    background-size: 100% 100%;
}

.owl-carousel .item13{
    background: url("images/masumiyetmüzesi.jpg");
    height: calc(100vh - 150px);
    background-size: 100% 100%;
}

.owl-carousel .item14{
    background: url("images/doguekspresi.jpg");
    height: calc(100vh - 150px);
    background-size: 100% 100%;
}

.owl-carousel .item15{
    background: url("images/sucveceza.jpg");
    height: calc(100vh - 150px);
    background-size: 100% 100%;
}

.owl-carousel .item16{
    background: url("images/satranç.jpg");
    height: calc(100vh - 150px);
    background-size: 100% 100%;
}

.owl-carousel .item17{
    background: url("images/milena.jpg");
    height: calc(100vh - 150px);
    background-size: 100% 100%;
}

.owl-carousel .item1 h1{
    font-size: 50px;
    padding: 50px;
    color: rgb(52, 29, 6);
}

.owl-carousel .item1 p{
    padding: 30px;
    margin: auto;
    text-transform: none;
    width: 800px;
    height: 400px;
    color: rgb(52, 29, 6);
    font-size: 25px;
}

.owl-carousel .item2 h1{
    font-size: 50px;
    padding: 50px;
    color: black;
}

.owl-carousel .item2 p{
    padding: 30px;
    margin: auto;
    text-transform: none;
    width: 800px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.433);
    color: white;
    font-size: 25px;
}

.owl-carousel .item3 h1{
    font-size: 50px;
    padding: 50px;
    color: black;
}

.owl-carousel .item3 p{
    padding: 30px;
    margin: 50px;
    text-transform: none;
    width: 700px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.433);
    color: white;
    font-size: 25px;
}

.owl-carousel .item4 h1{
    font-size: 50px;
    padding: 50px;
    color: white;
}

.owl-carousel .item4 p{
    padding: 30px;
    margin: 50px;
    text-transform: none;
    width: 700px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.433);
    color: white;
    font-size: 25px;
}

.owl-carousel .item5 h1{
    font-size: 50px;
    padding: 50px;
    color: white;
}

.owl-carousel .item5 p{
    padding: 30px;
    margin: 50px;
    text-transform: none;
    width: 600px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.433);
    color: white;
    font-size: 25px;
}

.owl-carousel .item7 h1{
    font-size: 50px;
    padding: 50px;
    color: white;
}

.owl-carousel .item7 p{
    padding: 20px;
    margin: 20px;
    text-transform: none;
    width: 800px;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.433);
    color: white;
    font-size: 25px;
}

.owl-carousel .item8 h1{
    font-size: 50px;
    padding: 50px;
    color: white;
}

.owl-carousel .item8 p{
    padding: 30px;
    margin: 50px;
    text-transform: none;
    width: 800px;
    height: 280px;
    background-color: rgba(0, 0, 0, 0.433);
    color: white;
    font-size: 25px;
}

.owl-carousel .item9 h1{
    font-size: 50px;
    padding: 50px;
    color: white;
}

.owl-carousel .item9 p{
    padding: 30px;
    margin: 50px;
    text-transform: none;
    width: 600px;
    height: 180px;
    background-color: rgba(0, 0, 0, 0.433);
    color: white;
    font-size: 25px;
}

.owl-carousel .item10 h1{
    font-size: 50px;
    padding: 50px;
    color: white;
}

.owl-carousel .item10 p{
    padding: 20px;
    margin: 30px;
    text-transform: none;
    width: 1000px;
    height: 330px;
    background-color: rgba(0, 0, 0, 0.433);
    color: white;
    font-size: 25px;
}

.owl-carousel .item11 h1,.owl-carousel .item13 h1,.owl-carousel .item14 h1,.owl-carousel .item15 h1,.owl-carousel .item16 h1,.owl-carousel .item17 h1{
    font-size: 50px;
    padding: 50px;
    color: white;
}

.owl-carousel .item11 p, .owl-carousel .item13 p,.owl-carousel .item14 p,.owl-carousel .item15 p,.owl-carousel .item16 p,.owl-carousel .item17 p{
    padding: 30px;
    margin: 50px;
    text-transform: none;
    width: 800px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.433);
    color: white;
    font-size: 25px;
}

.arrow{
    width: 100px;
    display: flex;
    font-size: 120px;
    position: absolute;
    right: 0;
    top: 100px;
    opacity: .5;
    transition: .5sn ease all;
    cursor: pointer;
}

.arrow:hover{
    opacity: 1;
}

html{
    overflow-x: hidden;
    scroll-padding-top: 90px;
    scroll-behavior: smooth;
}




/* responsive start */

@media only screen and (max-width:800px){
    
    .featured-content{
        height: 50vh;
    }
    .featured-desc{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        max-width: 200px;
        padding: 0;
    }
    .featured-title{
        width: 200px;
    }
}

/* responsive end */